@model List<AbarroLaw.Web.Models.Domain.EmailMessage>

@{
    ViewBag.ShowFooter = false;
    ViewBag.ShowMessage = false;
}

<style>
    body {
        overflow-x: hidden;
    }

    .flex-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh; /* Adjust as necessary */
        text-align: center;
    }

    .bg-img {
        height: 35vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #102250;
    }

    .landing-title {
        font-family: Poppins;
        color: white;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
    }


    .auto-width div {
        width: 150px; /* Adjust the width as needed */
        max-width: 150px; /* Ensure the width doesn't exceed this value */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>


@* Landing ------------------------------------------------------------------- *@
<div class="flex-container mt-0 pt-0">
    <div class="bg-img"></div>
    <div class="container d-flex flex-column align-items-center content-wrapper">
        <h1 class="landing-title mt-5 pt-5">ADMIN - View All Inquiries</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="col-2">ID</th>
                    <th class="col-3">Sender Name</th>
                    <th class="col-3">Email</th>
                    <th class="col-2">Title</th>
                    <th class="col-2">Date Sent</th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var messages in Model)
                {
                    <tr>
                        <td>@messages.Id</td>
                        <td>@messages.SenderName</td>
                        <td>@messages.Email</td>
                        <td>@messages.MessageTitle</td>
                        <td>@messages.DateSent</td>
                        <td>
                            <button class="btn btn-primary">
                                <a asp-controller="Contact" asp-action="ViewInquiry" asp-route-id="@messages.Id" style="color: white;">
                                    View
                                </a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No inquiries yet!</h3>
    }

</div>