@model List<AbarroLaw.Web.Models.Domain.Practice>


@{
    ViewBag.ShowFooter = false;
    ViewBag.ShowMessage = false;
}

<style>
    body {
        overflow-x: hidden;
    }

    .flex-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh; /* Adjust as necessary */
        text-align: center;
    }

    .bg-img {
        height: 40vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #305160;
    }

    .landing-title {
        font-family: Poppins;
        color: white;
        letter-spacing: 0.2em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
    }

    .auto-width {
        width: auto;
        white-space: nowrap;
    }

    /* th, td {
        font-family: Poppins;
    } */

</style>


@* Landing ------------------------------------------------------------------- *@
<div class="flex-container mt-0 pt-0">
    <div class="bg-img"></div>
    <div class="container d-flex flex-column align-items-center content-wrapper">
        <h1 class="landing-title mt-5 pt-5">ADMIN - View All Practice</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="auto-width">ID</th>
                    <th class="auto-width">Practice Area Name</th>
                    <th>Description</th>
                    <th>Visible</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var practice in Model)
                {
                    <tr>
                        <td>@practice.Id</td>
                        <td>@practice.PracticeName</td>
                        <td>@practice.PracticeDescription</td>
                        <td>@practice.Visible</td>
                        <td>
                            <button class="btn btn-primary">
                                <a asp-controller="AdminPractice" asp-action="EditPractice" asp-route-id="@practice.Id" style="color: white;">
                                    Edit
                                </a>
                            </button>
                            
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    else
    {
        <h3>No other practice areas!</h3>
    }
    
</div>